streamlit
python-dotenv
validators

langchain
langchain-core
langchain-community
langchain-text-splitters

langchain-groq

beautifulsoup4
unstructured

youtube_transcript_api
pytube

langchain-huggingface 

requests
fpdf2 
python-docx 
faiss-cpu 
sentence-transformers
